@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label>简单地文件上传</label>
            </dt>
            <dd>
                <input type="file" />
            </dd>
        </dl>
        <button type="submit">上传文件</button>
    </form>
</div>

<div>
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label>基于文件流的文件上传</label>
            </dt>
            <dd>
                <input type="file" />
            </dd>
        </dl>
        <button type="submit">上传文件</button>
    </form>
</div>